 header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    padding: 30px;
    margin-bottom: 40px;
}

nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
        padding: 0 30px;
}
nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
} 
 
.offer-img{
    width: 25px;
    height: 25px;
}
.offer-img img{
    width: 100%;
        height: 100%;
        object-fit: cover;
}

.logo{
    width: 120px;
    height: auto;
}
.logo img{
    width: 100%;
        height: 100%;
        object-fit: contain;
}
.product-listing{
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    justify-content: space-between;
}
.plist{
    /* display: flex;
    flex-wrap: wrap;
     justify-content: space-around; 
    padding: 20px; */

}
.product-item{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
    /* padding: 4px; */
    overflow: hidden;
    cursor: pointer;
}
.product-item:hover {
    transform: scale(1.05);
        border: 1px solid #ddd;

}
.product-image {
     width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px; 
    border-radius: 15px;
    display: block;

}
.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-bottom: 12px;
}

.add-to-cart:hover {
    background-color: #218838;
}